# IDE and OS
.DS_Store
.vscode/
.idea/
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
.venv_pfd/
.env

# EARU Data and State
*.dat
*.log
.meteo_cache.sqlite*
save_state/
EARU.py.bak
tmpfs/
EARU_dataIO
smcFanPressurehPaDetection

# Build and Core
EARU_app
EARU_core.mm
com.earu.service.plist
.meteo_cache.sqlite-journal
