<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.earu.service</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/usr/local/EnvironmentalAwareReferentialUnit/start.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/usr/local/EnvironmentalAwareReferentialUnit</string>
    <key>RunAtLoad</key>
    <true />
    <key>KeepAlive</key>
    <true />
    <key>ThrottleInterval</key>
    <integer>1</integer>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/EnvironmentalAwareReferentialUnit/EARU.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/EnvironmentalAwareReferentialUnit/EARU.log</string>
</dict>
</plist>
